<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">採用テスト管理ページ</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-ul">
          <% if logged_in? %>
            <li><%= link_to 'HOME', root_path %></li>
            <li><%= link_to 'テスト結果一覧', examinees_path %></li>
            <li><%= link_to '管理者情報一覧', users_path %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'HOME', root_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
